*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f7f4d5;
    font-family: "Libre Baskerville", serif;
    display: grid;
    text-align: left;
    vertical-align: baseline;
}
nav{
    background-color: #105666;
    margin: 10;
    padding: 1%;
    border-radius: 0 0 20px 20px;
}
.planta{
  width: 200%;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;  
}
.botao {
  background-color: #0a3323;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.botao:hover {
  background-color: #105666;
}
.card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  max-width: 700px;
  margin: 30px auto;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
